#gamecanvas {
    /*border: 5px solid #000000;*/
    background-color: transparent;

    border: 5px solid black;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, 0%);
}

body
{
    /* removes the scroll bar */
    overflow: hidden;
}

/* ======= SCORE ======== */

.score
{
    color: white;
    background-color: rgba(135, 255, 237, 0.502);
    position: fixed;

    bottom: 1%;
    right: 1%;

    width: 200px;
    height: 150px;

    border: 5px solid black;

    text-align: center;
    margin-bottom: 0px;
}

.score #count{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 100px;
}

.score h2{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;

    background-color: black;
    width: 102%;
    margin-left: -2px;
    align-self: center;
}



/* ========== INFO BOX ============= */
.info_box
{
    color: white;
    background-color: rgba(135, 255, 237, 0.502);
    border: 5px solid black;

    text-align: center;
    width: 600px;

    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info_box h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.info_box #text {
    font-size: 28px;
    font-style: normal;
    margin-bottom: 5%;
}

#stats.info_box  {
    position: fixed;
    width: 100px;
    top: 75%;
    left: 94.5%;
}

#stats.info_box p {
    font-size: 20px;
    margin: 0;
}

#debug.info_box  {
    border-color: red;
    background-color:rgba(65, 81, 96, 0.706);
    position: fixed;
    width: 100px;
    top: 7%;
    left: 5%;
    margin: 2px;
}

#debug.info_box  button{
    margin: 2px;
}

#debug.info_box  p{
    margin: 2px;
}



/* ================= win / lose =============== */

.fact_box {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-wrap: break-word;
    text-align: center;
    width: 500px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
}

#lose.fact_box {
    background-color: rgb(33, 50, 82);
    border: 5px solid red;
}

#win.fact_box {
    background-color: rgb(149, 244, 251);
    border: 5px solid white;
}

.fact_box p{
    color: white;
    font-size: 25px;
    margin: 5%;
    margin-top: 2%;
}

#lose.fact_box h2{
    color: rgb(255, 255, 255);
    font-size: 45px;
}

.fact_box button{
    font-size: 50px;
    margin-bottom: 5%;;
}

