.gamecanvas {
    /*border: 5px solid #000000;*/
    background-color: transparent;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);

}

body
{
    /* removes the scroll bar */
    overflow: hidden;
}
