
.header{
    color: rgb(255, 255, 255);
    font-size: 50px;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

html {
    background-color: #51baee;
    background-size: cover;
    height: 100%;
}


.header-overlay{
    background-color: rgb(192, 136, 248);
    z-index: 9;
    margin: 20px;
}

.buuble{
  position: absolute;
}

#hello {
  font-size: 50px;
  bottom: 50%;
  z-index: 2;
}
/* ===================== Positions around a div ======================== */

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Top Centered text */
.top-centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
