
html {
    background-image: url("img/waterbackground.png");
    background-size: cover;
    height: 100%;
    font-family: 'Papyrus';
}

.header{
    width: 95%;
    height: 200px;
    background-color: #39baff53;

    text-align: center;

    /* center on page */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header #title{
    color: white;
    font-size: 80px;
    align-self: center;
}

.header #info{
    color: white;
    font-size: 20px;
}

.header-overlay{
    background-color: rgb(192, 136, 248);
    z-index: 9;
    margin: 20px;
}

/* ========================= Bubble ============================== */
.buuble{
  position: absolute;
}

.bubble-info {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 10%;
    padding-left: 20%;
    padding-right: 20%;
}
#bubble-header {
    padding-left: 20%;
    font-size: 40px;
}
/* ===================== Positions around a div ======================== */

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sourcess {
    position: absolute;
    top: 45%;
    left: 15%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: white;
    border: solid;
    border-color: white;


}

.sourcessstuff {
    position: absolute;
    top: 55%;
    left: 38%;
    transform: translate(-50%, -50%);
    padding-right: 43%;
    font-size: 18px;
    color: white;

}

.linkies {
    position: absolute;
    top: 73%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding-right: 43%;
    font-size: 18px;
    color: white;

}

/* Top Centered text */
.top-centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
