
.header{
    width: 95%;
    height: 200px;
    background-color: #39baff53;

    text-align: center;

    /* center on page */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.header #title{
    color: white;
    font-size: 80px;
    width: 80%;
}

.header #info{
    color: white;
    font-size: 20px;
}

html {
    background-image: url("game/img/background2.jpg");
    background-size: cover;
    height: 100%;
    font-family: 'Papyrus';
}

.header-overlay{
    background-color: rgb(192, 136, 248);
    z-index: 9;
    margin: 20px;
}

.buuble{
  position: absolute;
}

.bubble-info {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 10%;
    padding-left: 20%;
    padding-right: 20%;
}
#bubble-header {
    padding-left: 20%;
    font-size: 40px;
}
/* ===================== Positions around a div ======================== */

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Top Centered text */
.top-centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
